@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;&display=swap');

.logo{
    font-family: 'Marck Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    color: #FFFFFF;
    margin-left: 5%;


}
.container{
  display: flex;
}
.second{
color: white;
flex: 1;
}
.title { 
  text-decoration: none;
  color: white;
  
}
.personal-info{
  position: absolute;
  background: #232323;
  width: 50%;
  margin: -8px -10px 0 -8px; 
  height: 100%;
  flex: 1;
}

.photo{
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  top: 25px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 9px rgba(0, 0, 0, 0.25);
  border-radius: 200px;


}
.circle{
  position: relative;
  width: 250px;
  height: 250px;
  top: 169px;
  margin: auto;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  mix-blend-mode:darken ;

  border-radius: 250px;

}
.information{
  margin-left: 10%;
  margin-top: 5%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.title_info{
  font-family: 'Marck Script', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px
}
.after_title{
  margin-top: 10%;
  width: 50%;
}
.field{
  justify-content: space-between;
  margin-top: 20%;
}

.field input{
  justify-content: flex-end;

}
input[type="text"]{
  width: 60%;
  height: 24px;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 5px;
  background: transparent;
  transition: all .3s ease-in-out;
  cursor: pointer;
  border: 1px solid #FFF;
  display: block;
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
  color: white;
  margin-top: 3%;
}
.edit-btn{
  position: absolute;
  bottom: 20px;
  right: 10%;
  border: transparent;
  background: scroll;
  color: white;
  font-family: 'Montserrat';
  justify-content: flex-end;
  display: flex;
    font-size: 16px;


}
.exit-btn{
  position: absolute;
  color: black;
  font-family: 'Montserrat',cursive;
  border: transparent;
  background: scroll;
  top: 1%;
  right: 1%;
  font-size: 16px;

}
h3{
  color: black;

  align-content: center;


}
 .line{
    width: 100%;
    border: 1px solid #000000;
    transform: rotate(-0.31deg);
    margin-top: 1px;
 }
 .wishlist{
  position: absolute;
  width: 14%;
  margin-left: 70%;
  margin-top:15%;
  font-family: 'Marck Script';
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.05em;

  color: #000000;


 }