@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

body {
  background: url('img/signImg.png') no-repeat
    center top/cover;
    center;
 font-family: 'Montserrat';
font-style: normal;
}

.signup-box {
  width: 25%;
  height: 25%;
  margin: auto;
 background: rgba(255, 255, 255, 0.7);
border-radius: 20px;

}

.login-box {
  width: 25%;
  height: 25%;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  margin-left: 38%;
 background: rgba(255, 255, 255, 0.7);
border-radius: 20px;

}

h1 {
  text-align: center;
  padding-top: 15px;
}

h4 {
  text-align: center;
}

form {
  width: 100%;
 margin-left: 20%;
}


form input {
  position: relative;
  width: 55%;
  height: 8%;
  padding: 7px;
  border: none;
  border-radius: 6px;
  background: #FFFFFF;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-top: 8%;
  align-items: center;
    justify-content: center;
    align-items: center;
}
input[type="button"] {
    position: relative;
     width: 40%;
    height: 7%;;
    margin-top:108px ;
    border:solid 1px black;
    border-radius: 200px;
    background: rgba(255, 255, 255,0);
    font-style: normal;
    font-size: 14px;
    font-family: 'Montserrat';
    letter-spacing: 0.05em;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 9%;
}
p {
  text-align: center;
  padding: 20px;
  font-size: 10px;
}
.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
  
}
.para-3 p{
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: ;
  
}
.logo{
    font-family: 'Marck Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    color: #FFFFFF;

}
.title { 
  text-decoration: none;
  color: white;
  
}